

html(lang='en')
head
    meta(charset='utf-8')
    title jQuery UI Accordion - Default functionality
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
    link(href='/less/app.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')

  body
    #header-content
      #logo
        if(teacher)
          a(href='/teacher/dashboard')
            img.logo(src='/img/logo.svg')
        if(student)
          a(href='/student/dashboard')
            img.logo(src='/img/logo.svg')
        //-
        //- #nav
        //-   ul
        //-     if(teacher)
        //-       li
        //-         a(href='/teacher/dashboard') DASHBOARD
        //-     if(student)
        //-       li
        //-         a(href='/student/dashboard') DASHBOARD
        //-
        //-     if(teacher)
        //-       li
        //-         a(href='/teacher/courses/all') COURSES
        //-     if(student)
        //-       li
        //-         a(href='/student/courses/all') COURSES
        //-     if(teacher)
        //-       li
        //-         form(method='POST', action='/teacher/dashboard', enctype='multipart/form-data')
        //-           input.upload(type='file', name='avatar')
        //-           button#add-avatar Add Avatar
        //-     if(student)
        //-       li
        //-         form(method='POST', action='/teacher/dashboard', enctype='multipart/form-data')
        //-           input.upload(type='file', name='avatar')
        //-           button#add-avatar Add Avatar

      #user
        a#logouts(href='#') Logout
        #username
          if(teacher)
            p#users= teacher.name
            //- if(teacher.avatar.photo)
            //-   img.avatar(src='/img/#{teacher.name}/#{teacher.avatar.photo}')

          if(student)
            p#users= student.name
            //- if(student.avatar.photo)
            //-   img.avatar(src='/img/#{student.name}/#{student.avatar.photo}')

      .clear
      #accordion
        each lesson in course.material
          h3= lesson.title
          div
            p!= lesson.content


    if(teacher)
      a#taketest(href='/course/#{course._id}/test') Take Test
    if(student)
      a#taketest(href='/student/course/#{course._id}/test') Take Test


block scripts
  script(src='/js/es6/compiled/accordion.js')
  script(src='/js/es6/compiled/courses.js')
  script(src='/js/es6/compiled/lessons.js')
